.my-multiselect .rmsc {
  --rmsc-main: #4285f4;
  --rmsc-hover: #222222;
  --rmsc-selected: #1a1a1a;
  --rmsc-border: #cccccc2f;
  --rmsc-gray: #aaa;
  --rmsc-bg: #212733;
  --rmsc-p: 10px;
  --rmsc-radius: 4px;
  --rmsc-h: 38px;
}
